@use "../abstracts/" as *;

// Article page
.article__header {
    display: flex;
    flex-direction: column;
    gap: $size-0;
    margin-bottom: $size-10;

    h1 {
        font-size: $fs-display-sm;
        line-height: $lh-tight;
        margin-top: 0;
    }

    &--subheading {
        font-size: $fs-3xl;
        font-family: $ff-base;
        font-weight: $fw-subheading;
        line-height: $lh-tight;
        color: $text-subtle;
    }

    &--time {
        font-family: $ff-base;
        font-size: $fs-lg;
        color: $text-subtle;
    }
}

.article-latest {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    position: relative;
    padding-top: $size-8;

    @include mq(medium) {
        padding-top: $size-10;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 33%;
        width: 34%;
        border-bottom: 4px solid $border-light;
    }

    h2 {
        font-size: $fs-3xl;
        margin-top: 0;
    }

    &__header {
        gap: $size-2;
    }

    &__footer {
        margin-top: $size-2;
    }

    &--time {
        font-family: $ff-base;
        font-size: $fs-sm;
        color: $text-subtle;
    }
}