@use "../abstracts/" as *;

// Article page
.article__header {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    margin-bottom: $size-10;

    h1 {
        font-size: $fs-display-sm;
        line-height: $lh-tight;
    }

    &--subheading {
        font-size: $fs-3xl;
        font-family: $ff-base;
        font-weight: $fw-subheading;
        line-height: $lh-tight;
        color: $text-subtle;
    }

    &--time {
        font-family: $ff-base;
        font-size: $fs-lg;
        color: $text-subtle;
    }
}

.article__container {
    @include mq(large) {
        margin-block: $size-8;
        margin-inline: $size-14;
    }
}

.article-latest {
    display: flex;
    flex-direction: column;
    gap: $size-4;

    h2 {
        font-size: $fs-3xl;
        margin-bottom: 0;
    }

    &__header {
        gap: $size-1
    }

    &__footer {
        margin-top: $size-2;
    }

    &--time {
        font-family: $ff-base;
        font-size: $fs-sm;
        color: $text-subtle;
    }
}