@use "../abstracts/" as *;



// Article page
.article__header {
    display: flex;
    flex-direction: column;
    gap: $size-0;
    margin-bottom: $size-10;


    h1 {
        font-size: $fs-display-sm;
        line-height: $lh-tight;
        margin-top: 0;
    }

    &--subheading {
        font-size: $fs-3xl;
        font-family: $ff-base;
        font-weight: $fw-subheading;
        line-height: $lh-tight;
        color: $text-subtle;
    }

    &--time {
        font-family: $ff-base;
        font-size: $fs-lg;
        color: $text-subtle;
    }
}

.article__list {
    list-style: none;
    margin-top: $size-11;
    padding-inline: $size-4;

    @include mq(large) {
        padding-inline: $size-0;
    }
}

.article-latest {
    position: relative;


    @include mq(medium) {
        padding-top: $size-10;
    }

    &::after {
        content: none;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 33%;
        width: 34%;
        border-bottom: 4px solid $border-light;
    }

}