@use "../abstracts/" as *;

@font-face {
  font-family: "Cartridge";
  src: url("/fonts/Cartridge-Regular.woff") format("woff"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.ttf") format("ttf"),
    url("/fonts/Cartridge-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: $fs-lg;
  font-weight: $fw-400;
  font-family: $ff-sans;
  color: $text-base;
  //background-color: $bg-base;
  text-align: left;
  background-color: $bg-base;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZmlsdGVyIGlkPSJub2lzZSI+CiAgICA8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC45IiBudW1PY3RhdmVzPSI0IiByZXN1bHQ9Im5vaXNlIi8+CiAgICA8ZmVDb2xvck1hdHJpeCBpbj0ibm9pc2UiIHR5cGU9InNhdHVyYXRlIiB2YWx1ZXM9IjAiLz4KICA8L2ZpbHRlcj4KICA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjZmZmZmZmIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBvcGFjaXR5PSIwLjA1Ii8+Cjwvc3ZnPg==');
}

.cursor-pointer {
  cursor: pointer;
}

input:focus {
  outline: $focus-style;
}

input[type=submit]:focus {
  outline: $focus-style;
}

a:focus {
  outline: $focus-style;
}

// Code
.astro-code {
  font-size: $fs-lg;
  padding: $size-4;
}

// Custom
.container--button {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}

// Unordered List

/*
.prose ul li,
.retro ul li {
  list-style-type: none;
  background-image: url("/src/assets/invader.gif");
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  background-size: 1em;
  padding-left: 1.5em;
  margin: 1rem 0;
}
  */