@use "../abstracts/" as *;

@font-face {
  font-family: "Cartridge";
  src: url("/fonts/Cartridge-Regular.woff") format("woff"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.ttf") format("ttf"),
    url("/fonts/Cartridge-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: fs(100);
  font-weight: $fw-400;
  font-family: $ff-sans;
  color: clr(neutral, 80);
  background-color: clr(neutral, 10);
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}


/*
*:focus {
  outline: none;
}*/

input:focus {
  outline: $focus-style;
}

input[type=submit]:focus {
  outline: $focus-style;
}

a:focus {
  outline: $focus-style;
}

// Custom
.container--button {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}