@use "../abstracts/" as *;

@font-face {
  font-family: "Cartridge";
  src: url("/fonts/Cartridge-Regular.woff") format("woff"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.ttf") format("ttf"),
    url("/fonts/Cartridge-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: $fs-lg;
  font-weight: $fw-400;
  font-family: $ff-sans;
  color: $text-base;
  background-color: $bg-base;
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

input:focus {
  outline: $focus-style;
}

input[type=submit]:focus {
  outline: $focus-style;
}

a:focus {
  outline: $focus-style;
}

// Custom
.container--button {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}

// Unordered List

.prose ul li {
  list-style-type: none;
  background-image: url("/src/assets/invader.gif");
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  background-size: 1em;
  padding-left: 1.5em;
  margin: 1rem 0;
}