@use "../abstracts/" as *;

@font-face {
  font-family: "Cartridge";
  src: url("/fonts/Cartridge-Regular.woff") format("woff"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.ttf") format("ttf"),
    url("/fonts/Cartridge-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: $fs-base;
  line-height: $lh-base;
  font-weight: $fw-400;
  font-family: $ff-body;
  color: $text-base;
  //background-color: $bg-base;
  text-align: left;
  background-color: $bg-base;
}

.cursor-pointer {
  cursor: pointer;
}

input:focus {
  outline: $focus-style;
}

input[type=submit]:focus {
  outline: $focus-style;
}

a:focus-visible {
  outline: $focus-style;
}

// Code
.astro-code {
  font-size: $fs-lg;
  padding: $size-4;
}

// Custom
.container--button {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}