@use "../abstracts/" as *;

.intro {
  font-size: $fs-intro;
  line-height: $lh-tight;
  font-family: $ff-heading;
  margin-block: $size-6;
  text-align: center;
  color: $text-intro;
  line-height: 1.25;

  &>span {
    background-color: $bg-highlight;
    color: $text-highlight;
    padding: 0.125rem 0.5rem;
    line-height: 1.125;
  }

  @include mq(large) {
    font-size: $fs-intro;
    text-align: left;
    line-height: 1;
    margin: $size-6 $size-11 $size-11 $size-11;
  }
}