@use "sass:meta";
@use "../abstracts/" as *;


:root {
    @each $color, $property in $colors {
        @each $token, $value in $property {
            @if meta.type-of($value)=='map' {

                // If the value is nested (like 'link'), loop through it
                @each $state, $state-value in $value {
                    @if $state =='default' {
                        --#{$color}-#{$token}: #{$state-value};
                    }

                    @else {
                        --#{$color}-#{$token}-#{$state}: #{$state-value};
                    }
                }
            }

            @else {
                // If it's a simple value, output it directly
                --#{$color}-#{$token}: #{$value};
            }
        }
    }

    // Single values
    --radius: #{$radius};
    --radius-card: #{$radius-card};

}