@use "../abstracts/" as *;

a {
  color: $text-link;
  text-decoration: underline;

  &:hover {
    color: $text-link-hover;
  }

  &:active {
    color: $text-link-active;
  }

  &:visited {
    color: $text-link-visited;
  }
}

// Headings
// Loops out headings/class
// Probably not the best way
@include headings-scale();


// Display
.display-1 {
  font-size: display(10);
}

.display-2 {
  font-size: display(20);
}

.display-3 {
  font-size: display(30);
}