@use "../abstracts/" as *;


a {
  color: $text-link;
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.375rem;
  transition: color .2s, text-underline-offset .2s, text-decoration-color .2s;

  &:hover {
    color: $text-link-hover;
    text-underline-offset: .4em;
    transition: color .2s, text-underline-offset .2s, text-decoration-color .2s;
  }

  &:active {
    color: $text-link-active;
  }

  /*
  &:visited {
    color: $text-link;
  }*/
}


// Headings
// Loops out headings/class
// Probably not the best way

h1 {
  font-size: $fs-8xl;
  font-family: $ff-heading;
  font-weight: $fw-heading;
}

h2 {
  font-size: $fs-5xl;
  font-family: $ff-heading;
  font-weight: $fw-heading;
}

h3 {
  font-size: $fs-4xl;
  font-family: $ff-heading;
  font-weight: $fw-heading;
}

h4 {
  font-size: $fs-3xl;
  font-family: $ff-heading;
  font-weight: $fw-heading;
}

h5 {
  font-size: $fs-2xl;
  font-family: $ff-sans;
  font-weight: $fw-heading;
}

h6 {
  font-size: $fs-xl;
  font-family: $ff-sans;
  font-weight: $fw-heading;
}

// Display
.display-1 {
  font-size: $fs-display-sm;
  color: $text-heading;
}

.display-2 {
  font-size: $fs-display-md;
  color: $text-heading;
}

.display-3 {
  font-size: $fs-display-lg;
  color: $text-heading;
}