@use "../abstracts/" as *;
@use "sass:map";


a {
  color: $text-link;
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.375rem;
  transition: color .2s, text-underline-offset .2s, text-decoration-color .2s;

  &:hover {
    color: $text-link-hover;
    text-underline-offset: .4em;
    transition: color .2s, text-underline-offset .2s, text-decoration-color .2s;
  }

  &:active {
    color: $text-link-active;
  }
}


// Headings
// Uses centralized $heading-styles map from abstracts/_typography.scss
@each $heading, $styles in $heading-styles {
  #{$heading} {
    font-size: map.get($styles, font-size);
    line-height: map.get($styles, line-height);
    margin-block: map.get($styles, margin-block);
    font-family: $ff-heading;
    font-weight: $fw-heading;
  }
}

// h6 uses sans-serif instead of heading font
h6 {
  font-family: $ff-sans;
}

// Display
.display-1 {
  font-size: $fs-display-sm;
  color: $text-heading;
}

.display-2 {
  font-size: $fs-display-md;
  color: $text-heading;
}

.display-3 {
  font-size: $fs-display-lg;
  color: $text-heading;
}