@use "primitives" as *;
// Loop
$colors: (
  text: (base: $neutral-800,
    subtle: $neutral-500,
    bold: $neutral-900,
    heading: $neutral-800,
    subheading: $primary-900,
    focus: $green-100,
    card:$neutral-900,
    link: (default: $primary-500,
      hover: $primary-600,
      active: $primary-700,
      visited: $primary-500 ),
    selected: (default: $neutral-000,
      hover: $neutral-800,
      active: $neutral-800,
      visited: $neutral-800,
    ),
    primary:(default: $neutral-000,
      hover: $neutral-000,
      active: $neutral-000),
    secondary:(default: $primary-500,
      hover: $neutral-000,
      active: $neutral-000),
    tertiary:(default: $primary-500,
      hover: $neutral-000,
      active: $neutral-100),
    invert: (default:hsla(60, 9.1%, 97.8%, 1),
      heading:hsla(60, 4.8%, 95.9%, 1)),
    footer: (default: $primary-500,
      link: $neutral-800,
      active: $neutral-800 )),
  menu__narrow: (default: $primary-500,
    hover: $neutral-900,
  ),
  menu__wide: (default: $primary-500,
    hover: $neutral-500,
  ),
  border: (base: $neutral-900,
    light: $white,
    bold: $neutral-200,
    invert: $neutral-400,
    card: $neutral-000,
    focus: $green-500,
    primary:(default: $primary-500,
      hover: $primary-800,
      active: $primary-400),
    secondary:(default:$primary-500,
      hover: $neutral-900,
      active: $neutral-900),
    tertiary:(default: $neutral-800,
      hover: $neutral-800,
      active: $neutral-800),
    selected: (default: $neutral-900,
      hover: $neutral-900,
      active: $neutral-900,
      visited: $neutral-900,
    ),
  ),
  bg:(base: hsl(60, 4.8%, 95.9%),
    light: $white,
    invert: $primary-500,
    card: $white,
    focus: hsl(60, 4.8%, 85.9%),
    primary:(default: $primary-500,
      hover: $primary-800,
      active: $primary-400),
    secondary:(default: transparent,
      hover: $neutral-900,
      active: $neutral-900 ),
    tertiary:(default: transparent,
      hover: $neutral-900,
      active: $neutral-800),
    selected: (default: $neutral-900,
      hover: $neutral-100,
      active: hsl(144, 61.2%, 20.2%),
      visited: hsl(142, 76.2%, 36.3%),
    ),
    menu__narrow:(default: transparent,
      hover: transparent,
    ),
    menu__wide:(default: transparent,
      hover: $neutral-900 ),
  )
);


// text
$text-base: var(--text-base);
$text-subtle: var(--text-subtle);
$text-bold: var(--text-bold);
$text-heading: var(--text-heading);
$text-subheading: var(--text-subheading);
$text-focus: var(--text-focus);
$text-card: var(--text-card);
$text-link: var(--text-link);
$text-invert: var(--text-invert);
$text-invert-heading: var(--text-invert-heading);
$text-link-hover: var(--text-link-hover);
$text-link-active: var(--text-link-active);
$text-link-visited: var(--text-link-visited);
$text-selected: var(--text-selected);
$text-selected-hover: var(--text-selected-hover);
$text-selected-active: var(--text-selected-active);
$text-selected-visited: var(--text-link-visited);
$text-primary: var(--text-primary);
$text-primary-hover: var(--text-primary-hover);
$text-primary-active: var(--text-primary-active);
$text-secondary: var(--text-secondary);
$text-secondary-hover: var(--text-secondary-hover);
$text-secondary-active: var(--text-secondary-active);
$text-tertiary: var(--text-tertiary);
$text-tertiary-hover: var(--text-tertiary-hover);
$text-tertiary-active: var(--text-tertiary-active);
$text-footer: var(--text-footer);
$text-footer-hover: var(--text-footer-hover);
$text-footer-active: var(--text-footer-active);


// border
$border-base: var(--border-base);
$border-light: var(--border-light);
$border-bold: var(--border-bold);
$border-invert: var(--border-base-dark);
$border-card: var(--border-card);
$border-focus: var(--border-focus);
$border-primary: var(--border-primary);
$border-primary-hover: var(--border-primary-hover);
$border-primary-active: var(--border-primary-active);
$border-secondary: var(--border-secondary);
$border-secondary-hover: var(--border-secondary-hover);
$border-secondary-active: var(--border-secondary-active);
$border-tertiary: var(--border-tertiary);
$border-tertiary-hover: var(--border-tertiary-hover);
$border-tertiary-active: var(--border-tertiary-active);
$border-selected: var(--border-selected);
$border-selected-hover: var(--border-selected-hover);
$border-selected-active: var(--border-selected-active);
$border-selected-visited: var(--border-selected-visited);

// surface
$bg-base: var(--bg-base);
$bg-light: var(--bg-light);
$bg-invert: var(--bg-invert);
$bg-card: var(--bg-card);
$bg-focus: var(--bg-focus);
$bg-primary: var(--bg-primary);
$bg-primary-hover: var(--bg-primary-hover);
$bg-primary-active: var(--bg-primary-active);
$bg-secondary: var(--bg-secondary);
$bg-secondary-hover: var(--bg-secondary-hover);
$bg-secondary-active: var(--bg-secondary-active);
$bg-tertiary: var(--bg-tertiary);
$bg-tertiary-hover: var(--bg-tertiary-hover);
$bg-tertiary-active: var(--bg-tertiary-active);
$bg-selected: var(--bg-selected);
$bg-selected-hover: var(--bg-selected-hover);
$bg-selected-active: var(--bg-selected-active);
$bg-selected-visited: var(--bg-selected-visited);

// Menu
$text-menu__narrow: var(--text-menu__narrow);
$text-menu__narrow-hover: var(--text-menu__narrow-hover);
$bg-menu__narrow: var(--bg-menu__narrow);
$bg-menu__narrow-hover: var(--bg-menu__narrow-hover);


$text-menu__wide: var(--text-menu__wide);
$text-menu__wide-hover: var(--text-menu__wide-hover);
$bg-menu__wide: var(--bg-menu__wide);
$bg-menu__wide-hover: var(--bg-menu__wide-hover);