$colors: (
  neutral: (
    100: #091024,
    90: #22283a,
    80: #3c4253,
    70: #656a76,
    60: #8f939c,
    50: #a8aab1,
    40: #c2c4c8,
    30: #d9dbdd,
    20: #f1f3f7,
    10: #f7f8fa,
    00: #ffffff,
  ),
  primary: (
    00: #918e8d,
    10: #777372,
    20: #443f3d,
    30: #443f3d,
    40: #3c3635,
    50: #2b2523,
    60: #26211f,
    70: #211c1b,
    80: #1c1816,
    90: #161312,
    100: #090807,
  ),
  secondary: (
    00: #ffbfad,
    10: #ffab95,
    20: #ff987c,
    30: #ff8564,
    40: #ff714b,
    50: #161312,
    60: #eb562f,
    70: #e0532d,
    80: #d64f2b,
    90: #c24727,
    100: #aa3d22,
  ),
  tertiary: (
    00: #fce0af,
    10: #fbd797,
    20: #fbd797,
    30: #fac466,
    40: #f9bb4e,
    50: #f8b236,
    60: #e4a432,
    70: #da9d30,
    80: #d0962d,
    90: #bc8729,
    100: #a37524,
  ),
);
