// Primitives
$orange-000: hsla(13deg, 70%, 97%, 1);
$orange-100: hsla(13deg, 75%, 92%, 1);
$orange-200: hsla(13deg, 76%, 82%, 1);
$orange-300: hsla(13deg, 77%, 72%, 1);
$orange-400: hsla(13deg, 77%, 62%, 1);
$orange-500: hsla(13deg, 77%, 53%, 1);
$orange-600: hsla(13deg, 77%, 45%, 1);
$orange-700: hsla(13deg, 75%, 37%, 1);
$orange-800: hsla(13deg, 70%, 28%, 1);
$orange-900: hsla(13deg, 65%, 20%, 1);

$neutral-000: hsla(24deg, 8%, 96%, 1);
$neutral-000: hsla(24deg, 8%, 96%, 1);
$neutral-100: hsla(24deg, 8%, 88%, 1);
$neutral-200: hsla(24deg, 9%, 72%, 1);
$neutral-300: hsla(24deg, 9%, 56%, 1);
$neutral-400: hsla(24deg, 10%, 33%, 1);
$neutral-500: hsla(24deg, 10%, 10%, 1);
$neutral-600: hsla(24deg, 10%, 8%, 1);
$neutral-700: hsla(24deg, 10%, 6%, 1);
$neutral-800: hsla(24deg, 10%, 4%, 1);
$neutral-900: hsla(24deg, 10%, 2%, 1);

$green-000: hsla(150deg, 60%, 96%, 1);
$green-100: hsla(150deg, 62%, 90%, 1);
$green-200: hsla(150deg, 63%, 80%, 1);
$green-300: hsla(150deg, 64%, 70%, 1);
$green-400: hsla(150deg, 65%, 57%, 1);
$green-500: hsla(150deg, 65%, 45%, 1);
$green-600: hsla(150deg, 65%, 37%, 1);
$green-700: hsla(150deg, 63%, 30%, 1);
$green-800: hsla(150deg, 60%, 22%, 1);
$green-900: hsla(150deg, 55%, 15%, 1);

$forest-green-000: hsla(147deg, 10%, 98%, 1);
$forest-green-100: hsla(147deg, 40%, 88%, 1);
$forest-green-200: hsla(147deg, 40%, 76%, 1);
$forest-green-300: hsla(147deg, 40%, 64%, 1);
$forest-green-400: hsla(147deg, 40%, 52%, 1);
$forest-green-500: hsla(147deg, 40%, 40%, 1);
$forest-green-600: hsla(147deg, 40%, 32%, 1);
$forest-green-700: hsla(147deg, 40%, 24%, 1);
$forest-green-800: hsla(147deg, 40%, 8%, 1);
$forest-green-900: hsla(147deg, 40%, 5%, 1);