@use "colors" as *;

//Transitions
$transitions: 200ms ease;

// Border
$border-style-light: 4px solid $border-light;
$border-style: 8px solid $border-base;

//Radius
$radius: 0.5rem;
$radius-rounded: 9999px;
$radius-card: 0rem;
$radius-button: 0rem;
$radius-focus: $radius-button;

// Focus
$focus-color: $text-focus;
$focus-style: 0.25rem solid $border-focus;
$box-focus-shadow: 0 0 0 0.25rem $bg-base, 0 0 0 0.5rem $border-focus;
;