@use "colors" as *;

//Transitions
$transitions: 275ms ease;

// Border
$border-style: 4px solid $border-base;

//Radius
$radius: 0.5rem;
$radius-card: 0.25rem;
$radius-button: 0.25rem;

// Focus
$focus-color: $text-focus;
$focus-style: 0.25rem solid $border-focus;
$box-focus-shadow: 10px 10px 5px $border-focus inset, 10px 10px 5px #fafafa, 10px 10px 5px #000000;