---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Oops we can't find the page"
  description="It looks like we can't find what you were looking for"
>
  <main class="error__wrapper" id="main-content">
    <div class="error__message container">
      <h1>Page not found</h1>
      <p>
        Oh no it looks like this page has gone awol or something broke in the
        matrix.
      </p>
      <a href="/" class="button button--primary" title="Return to homepage">
        Go home
      </a>
    </div>
  </main>
</Layout>
