---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Oops we can't find the page"
  description="It looks like we can't find what you were looking for"
>
  <main class="container" id="main-content" role="main">
    <div class="error">
      <h1>Page not found</h1>
      <p>
        Oh no it looks like this page has gone awol or something broke in the
        matrix.
      </p>
      <div class="container__button">
        <a
          href="/"
          class="button button--primary error--bottom"
          title="Return to homepage"
        >
          Go home
        </a>
      </div>
    </div>
  </main>
</Layout>
