---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allarticles = await getCollection("articles");

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title="Articles" description="All my articles">
  <main id="main-content" class="container" role="main">
    <div class="grid__one-column" id="main-content">
      {
        allarticles.map((article) => (
          <article class="article-card">
            <header>
              <div class="article-card__time">
                {article.data.publishDate.toLocaleDateString(
                  "en-GB",
                  dateOptions
                )}
              </div>
              <h2 class="heading-4">
                <a href={`/articles/${article.id}`} title={article.data.title}>
                  {article.data.title}
                </a>
              </h2>
            </header>

            <p>{article.data.description}</p>
            <footer class="article-card__footer">
              <div class="tags">{article.data.keywords.join(", ")}</div>
            </footer>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
