---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
//import ProjectCard from "../components/ProjectCard.astro";
import { Card } from "accessible-astro-components";
const allArticles = await getCollection("projects");
---

<Layout
  title="Projects and Case Studies"
  description="Previous projects and case studies"
>
  <main class="container">
    <div class="grid__two-column" id="main-content">
      {
        allArticles.map((project) => (
          <Card
            url={`/projects/${project.slug}`}
            img={project.data.thumbnail.src}
            title={project.data.title}
            footer="Read More"
          >
            {project.data.description}
          </Card>
        ))
      }
    </div>
  </main>
</Layout>
