@use 'sass:meta';
@use "../abstracts" as *;

@each $color, $shade-map in $colors {
  @each $shade, $value in $shade-map {
    @if $color =="text" {
      @if meta.type-of($value)=="map" {

        // Handle nested map
        @each $nested-shade, $nested-value in $value {

          @if $nested-shade =="default" {
            .text-#{$shade} {
              color: $nested-value;
            }
          }

          @else {
            .text-#{$shade}-#{$nested-shade} {
              color: $nested-value;
            }
          }
        }
      }
    }

    @if $color =="border" {
      @if meta.type-of($value)=="map" {

        // Handle nested map
        @each $nested-shade, $nested-value in $value {
          @if $nested-shade =="default" {
            .border-#{$shade} {
              border-color: $nested-value;
            }
          }

          @else {
            .border-#{$shade}-#{$nested-shade} {
              border-color: $nested-value;
            }
          }
        }
      }
    }

    @if $color =="bg" {
      @if meta.type-of($value)=="map" {

        // Handle nested map
        @each $nested-shade, $nested-value in $value {
          @if $nested-shade =="default" {
            .bg-#{$shade} {
              background-color: $nested-value;
            }
          }

          @else {
            .bg-#{$shade}-#{$nested-shade} {
              background-color: $nested-value;
            }
          }
        }
      }
    }
  }
}