@use "../abstracts/" as *;

.container {
  --max-width: #{$container-max-width};
  --padding: var(--size-6);
  // width: min(100% - 2rem, var(--max-width));
  @extend %container-width;

  margin-inline: auto;

  &--wide {
    --max-width: #{$container-max-width-wide};
  }

}