@use "../abstracts/" as *;

.prose {
  
  font-size: fs(110);
  line-height: $large-line-height;
  margin: 0 auto;

  & ul {
    margin-left: 0.5rem;

    & li {
      list-style:disc;
      margin-left: 2rem;
      padding-left: 0.25rem;
    }
  }

  p, h1,h2, h3, h4, h5, h6, ul, ol {
    max-width: $prose-max-width;
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;  
  }

}
