@use "../abstracts/" as *;

.prose {
  font-size: $fs-xl;
  line-height: $lh-loose;

  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  figure {
    max-width: $prose-max-width;
    @extend %container-width;
    padding-inline: 1rem;
    //padding-right: 1rem;

    @include mq(large) {
      margin-inline: auto;
      padding-inline: 0;
      //padding-right: 0;
    }
  }

  // List Styles
  & li {
    list-style: disc;
    margin-left: 2rem;
    padding-left: 0.25rem;
  }

  // Flow
  >* {
    margin-bottom: var(--flow-top-spacer, 1.5rem);
  }

  // Prose Image
  &__image {
    padding-block: 2rem;
    margin-block: 2rem;
    background-color: $bg-light;
    border-top: 2px solid $border-base;
    border-bottom: 2px solid $border-base;
  }

}