@use "../abstracts/" as *;

.prose {
  font-size: $fs-xl;
  line-height: $lh-loose;

  // List Styles
  & li {
    list-style: disc;
    margin-left: 2rem;
    padding-left: 0.25rem;

    &::marker {
      color: $theme-list-marker;
    }
  }

  // Prose Image
  &__image {
    background-color: $bg-section-light;
    background-color: $bg-card-hover;
    box-shadow: 0 0 0 0.25rem $bg-base, 0 0 0 0.75rem $border-focus;
  }

}