@use "../abstracts/" as *;

.prose__content {
  font-size: $fs-xl;
  line-height: $lh-loose;

  // List Styles
  & li {
    list-style: disc;
    margin-left: 2rem;
    padding-left: 0.25rem;
  }

  // Flow
  >* {
    margin-bottom: var(--flow-top-spacer, 1.5rem);
  }

  // Prose Image
  &__image {
    padding-block: 2rem;
    margin-block: 2rem;
    background-color: $bg-section-light;
    border-top: 2px solid $border-base;
    border-bottom: 2px solid $border-base;
  }

}