@use "../abstracts/" as *;

.prose {
  //font-size: $fs-xl;
  //line-height: $lh-loose;

  // List Styles
  & li {
    list-style: disc;
    margin-left: $size-6;
    margin-block: $size-4;
    padding-left: $size-1;

    &::marker {
      color: $theme-list-marker;
    }
  }

  // Prose Image
  &>img {
    margin-block: $section-spacer;
  }

}