---
interface Props {
  caption: string;
  slot: string;
}

const { caption } = Astro.props;
---

<blockquote class="blockquote full-width">
  <div class="blockquote__inner">
    <slot />
    {caption && <cite>~ {caption}</cite>}
  </div>
</blockquote>
