---
interface Props {
  caption: string;
  slot: string;
}

const { caption } = Astro.props;
---

<blockquote class="blockquote">
  <div class="blockquote__inner">
    <slot />
    <cite>~ {caption}</cite>
  </div>
</blockquote>
