---
export interface Props {
  section: string;
  page: string;
}

const { section, page } = Astro.props;
---

<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    <li>
      <a href="/" title="Just Andy Homepage">Home</a>
      <span aria-hidden="true">/</span>
    </li>
    <li>
      <a href={`/${section}`} title={`Just Andy ${section}`}>{section.trim()}</a
      >
      {section === "projects" && <span aria-hidden="true">/</span>}
    </li>
    {section === "projects" && <li aria-current="page">{page}</li>}
  </ol>
</nav>
