---
const { label, url, target, disable } = Astro.props;
---

{target ? (
  <a href={url} class="button button--primary" target="_blank" rel="noopener noreferrer">{label}</a>
) : (
  <a href={url} class="button button--primary">{label}</a>
)}
