---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<div class="top_button">
  <button
    onclick="topFunction()"
    id="myBtn"
    aria-label="Back to Top"
    class="button button--tertiary button--circle"
  >
    <Icon name="mdi:arrow-up" />
  </button>
</div>
<footer class="footer">
  <div class="footer__left">
    &copy; {today.getFullYear()} Andrew Cetnarskyj &nbsp;
    <a
      href="https://astro.build/"
      title="Astro"
      rel="external nofollow noopener noreferrer"
      target="_blank"
    >
      Astro
    </a>
    ,&nbsp;
    <a
      href="https://vercel.com/"
      title="Vercel"
      rel="external nofollow noopener noreferrer"
    >
      Vercel
    </a>

    &nbsp;and&nbsp;
    <a href="/uses">also uses.</a>
  </div>
  <nav aria-label="Social Media">
    <ul class="footer__right">
      <li>
        <a
          href="https://twitter.com/justandydesign1"
          rel="me noreferrer"
          target="_blank"
          aria-label="Visit Just Andy on Twitter (opens in new tab)"
        >
          <Icon name="mdi:twitter" aria-hidden="true" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/andrewcetnarskyj/"
          rel="me noreferrer"
          target="_blank"
          aria-label="Visit Just Andy on LinkedIn (opens in new tab)"
        >
          <Icon name="mdi:linkedin" aria-hidden="true" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/andrewcetnarskyj/"
          rel="me noreferrer"
          target="_blank"
          aria-label="Visit Just Andy on GitHub (opens in new tab)"
        >
          <Icon name="mdi:github" aria-hidden="true" />
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/just_andy_c/"
          rel="me noreferrer"
          target="_blank"
          aria-label="Visit Just Andy on Instagram (opens in new tab)"
        >
          <Icon name="mdi:instagram" aria-hidden="true" />
        </a>
      </li>
    </ul>
  </nav>
</footer>

<script is:inline>
  // Get the button
  let mybutton = document.getElementById("myBtn");

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
