---
const today = new Date();
import {
  ArrowUp,
  Linkedin,
  Twitter,
  GitHub,
  Instagram,
} from "astro-feather-icons";
---

<div class="top_button">
  <button
    onclick="topFunction()"
    id="myBtn"
    aria-label="Back to Top"
    class="button button--neutral radius--circle"
  >
    <ArrowUp />
  </button>
</div>
<footer class="footer">
  <div class="footer_left">
    &copy; {today.getFullYear()} Andrew Cetnarskyj &nbsp;
    <a
      href="https://astro.build/"
      title="Astro"
      rel="external nofollow noopener noreferrer"
      target="_blank"
    >
      Astro
    </a>
    ,&nbsp;
    <a
      href="https://vercel.com/"
      title="Vercel"
      rel="external nofollow noopener noreferrer"
    >
      Vercel
    </a>

    &nbsp;and&nbsp;
    <a href="/uses">also uses.</a>
  </div>
  <ul class="footer_right">
    <li>
      <a
        href="https://twitter.com/justandydesign1"
        rel="me noreferrer"
        target="_blank"
        title="Just Andy Twitter account"
      >
        <Twitter />
      </a>
      <li>
        <a
          href="https://www.linkedin.com/in/andrewcetnarskyj/"
          rel="me noreferrer"
          target="_blank"
          title="Just Andy Linked In profile"
        >
          <Linkedin />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/andrewcetnarskyj/"
          rel="me noreferrer"
          target="_blank"
          title="Just Andy Github profile"
        >
          <GitHub />
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/just_andy_c/"
          rel="me noreferrer"
          target="_blank"
          title="Andrew Cetnrskyj Instagram profile"
        >
          <Instagram />
        </a>
      </li>
    </li>
  </ul>
</footer>

<script is:inline>
  // Get the button
  let mybutton = document.getElementById("myBtn");

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
