---
import { Image } from "astro:assets";

export interface Props {
  url: any;
  title: string;
  summary: string;
  tags: string[];
}

const { url, title, summary, tags } = Astro.props;
---

<div class="hero">
  <Image src={url} alt="" />
  <div class="hero__content">
    <h1 class="hero__title">{title}</h1>
    <div class="hero__summary">{summary}</div>
    <div class="hero__tags">{tags}</div>
  </div>
</div>
