---
import { Image } from "astro:assets";

export interface Props {
  url: any;
  title: string;
  summary: string;
}

const { url, title, summary } = Astro.props;
---

<div class="hero">
  <Image src={url} alt="" />
  <div class="hero__content">
    <h1>{title}</h1>
    <div>{summary}</div>
  </div>
</div>
