---
import { Image } from "astro:assets";

export interface Props {
  url: any;
  title: string;
  summary: string;
  tags: string[];
}

const { url, title, summary, tags } = Astro.props;
---

<div class="hero">
  <Image src={url} alt={`${title} banner`} />
  <div class="hero__content">
    <div class="hero__content--inner">
      <h1 class="hero__title">{title}</h1>
      <div class="hero__summary">{summary}</div>
    </div>
    <div class="hero__tags">{tags.join(", ")}</div>
  </div>
</div>
