---
export interface Props {
  section: string;
  reverse?: boolean;
}
export interface Slots {
  /** Main content area */
  default: any;
  /** Image slot */
  image: any;
}

const { section, reverse = false } = Astro.props;

const layoutReverse = reverse == true ? "image-text--reverse" : "";
---

<section class=`section ${section}`>
  <div class=`image-text container ${layoutReverse}`>
    <div class="image-text__image">
      <slot name="image" />
    </div>
    <div class="image-text__content">
      <slot />
    </div>
  </div>
</section>
