---
interface Stat {
  number: string | number;
  label: string;
}

export interface Props {
  stats: Stat[];
}

const { stats } = Astro.props;
---

<div class="section-spacer">
  <div class="container mx-auto">
    <div class="stat-counter breakout">
      {
        stats.map((stat) => (
          <dl>
            <dt class="stat-counter__number">{stat.number}</dt>
            <dd class="stat-counter__label">{stat.label}</dd>
          </dl>
        ))
      }
    </div>
  </div>
</div>
