---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const pathSections = currentPath.split("/");
const parent = pathSections[0];

import { Image } from "astro:assets";
import Logo from "../assets/andy-cetnarskyj-logo.svg";
---

<header class="navbar">
  <figure class="svg__container cursor-pointer">
    <div class="logo__wrapper">
      <svg viewBox="0 0 100 100">
        <path
          fill="currentColor"
          d="M48 .783a9.922 9.922 0 0 0-4.951 1.324l-33.02 19.014a10.02 10.02 0 0 0-3.682 3.686A10.12 10.12 0 0 0 5 29.857v37.85c0 1.775.465 3.518 1.348 5.052a10.02 10.02 0 0 0 3.682 3.683l33.02 19.016a9.921 9.921 0 0 0 9.904 0l33.018-19.016a10.02 10.02 0 0 0 3.682-3.683A10.121 10.121 0 0 0 91 67.708v-37.85a10.12 10.12 0 0 0-1.347-5.051 10.02 10.02 0 0 0-3.682-3.686L52.951 2.107A9.922 9.922 0 0 0 48 .783zm-11.311 24.01h9.902a.483.483 0 0 1 .48.438.492.492 0 0 1-.03.232L28.434 72.14a.848.848 0 0 1-.788.535h-9.738a.48.48 0 0 1-.4-.215.492.492 0 0 1-.051-.455l18.67-46.828a.609.609 0 0 1 .223-.277.602.602 0 0 1 .34-.105zm14.746.002h6.8c.364 0 .613.182.749.547l19.713 46.51.07.275c0 .366-.205.55-.613.55h-9.592c-.363 0-.612-.184-.748-.55l-2.627-5.76c-.136-.273-.362-.41-.68-.41h-18.23c-.363 0-.59.137-.68.41l-2.529 5.76c-.135.366-.384.55-.748.55h-9.658c-.227 0-.386-.07-.476-.208-.092-.183-.092-.389 0-.617l18.502-46.51c.136-.365.386-.547.748-.547zm3.537 18.684c-.135 0-.25.115-.34.344L49.6 55.69l-.068.275c0 .23.16.342.476.342h10.406c.182 0 .318-.046.408-.137.091-.138.091-.297 0-.48l-5.44-11.867c-.09-.229-.227-.344-.41-.344z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    {
      currentPath === "" ? (
        <h1>
          <a href="/" title="Just Andy" class="logo__text">
            Just Andy
          </a>
        </h1>
      ) : (
        <a href="/" title="Just Andy" class="logo__text">
          Just Andy
        </a>
      )
    }
  </figure>

  <nav class="menu">
    <ul>
      <li>
        <a class={currentPath === "" ? "selected" : ""} href="/" title="Home"
          >Home</a
        >
      </li>
      <li>
        <a
          class={currentPath === "projects/" || parent === "projects"
            ? "selected"
            : ""}
          href="/projects/"
          title="Andy's Projects">Projects</a
        >
      </li>
      <li>
        <a
          class={currentPath === "articles" || parent === "articles"
            ? "selected"
            : ""}
          href="/articles/"
          title="Andy's Articles">Articles</a
        >
      </li>
      <li>
        <a
          class={currentPath === "about" ? "selected" : ""}
          href="/about"
          title="About Andrew Cetnarskyj">About</a
        >
      </li>
    </ul>
  </nav>
</header>
