---
// YouTube component placeholder
// Add your code here
interface Props {
  youTubeId: string;
}

const { youTubeId } = Astro.props;
---

<div>
  <!-- YouTube component - code to be added -->
  <p>YouTube: {youTubeId}</p>
</div>
