---
import { getCollection, render } from "astro:content";
import FrontmatterLayout from "../../layouts/FrontmatterLayout.astro";
import { Breadcrumbs, BreadcrumbsItem } from "accessible-astro-components";

export async function getStaticPaths() {
  const projectDetails = await getCollection("projects");
  return projectDetails.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const tags = entry.data.tags;

const projectTags = tags.map((tag, index) => {
  return index + 1 !== tags.length ? `${tag}, ` : tag;
});
---

<FrontmatterLayout frontmatter={entry.data}>
  <div id="main-content">
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/projects" label="Projects" />
      <BreadcrumbsItem currentPage={true} label={entry.data.title} />
    </Breadcrumbs>
    <div class="prose">
      <Content />
    </div>
  </div>
</FrontmatterLayout>
