@use "../abstracts/" as *;

.article-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: $size-3;
  padding: $size-4 $size-4 $size-8 $size-4;
  border-radius: $radius-card;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 33%;
    width: 34%;
    border-bottom: 4px solid $border-light;
  }

  &__header {
    gap: $size-2;
  }

  &__title {
    font-size: $fs-lg;
    font-weight: $fw-500;
    font-family: $ff-heading;
  }

  &__time {
    font-size: $fs-sm;
    color: $text-subtle;
  }

  &__footer {
    font-size: $fs-md;
    color: $text-subtle;
  }
}