@use "../abstracts/" as *;

.article-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: $size-6;
  padding: $size-4;
  border-radius: $radius-card;

  header {
    gap: $size-2;
  }

  &__title {
    font-size: $fs-lg;
    font-weight: $fw-500;
    font-family: $ff-heading;
  }

  &__time {
    font-size: $fs-md;
  }

  &__footer {
    font-size: $fs-md;
    color: $text-subtle;
  }
}