@use "../abstracts" as *;

.blockquote {
    margin-block: $section-spacer;
    background-color: $theme-blockquote-bg;
    color: $theme-blockquote-text;
    padding-block: $size-6;
    line-height: 1.25;
    font-family: $ff-heading;

    @include mq(medium) {
        padding-block: $size-8;
    }


    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: $fs-2xl;

        @include mq(medium) {
            font-size: $fs-4xl;
        }
    }

    cite {
        text-align: right;
        padding-block: $size-4;
        color: $theme-text-invert;
        font-size: $fs-md;
        font-family: $ff-body;
    }
}