@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  padding: 1.125em 2em;
  font-weight: $fw-300;
  font-family: $ff-heading;
  transition: 275ms ease;
  border-radius: 9999px;
  text-transform: uppercase;
  background-color: $bg-primary;


  &--primary {
    background-color: $bg-primary;
    color: $text-primary;
    box-shadow:
      0 0 0 5px #fff,
      0 0 0 10px $border-primary;
  }

  &--neutral {
    padding: 1.125rem;
    background-color: transparent;
    color: $text-primary;
  }

  &--outline {
    --outline-size: 1px;
    background: transparent;
    outline: var(--outline-size) solid $border-primary;
    outline-offset: calc(var(--outline-size) * -1);
    color: $text-primary;
  }

  &:is(:hover, :focus) {
    background-color: $bg-primary-hover;
    color: $text-primary-hover;
    box-shadow:
      0 0 0 5px #fff,
      0 0 0 10px $border-primary-hover;
  }

  &:focus {
    outline: 0.25rem dashed $border-focus;
  }
}