@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  background-color: clr(neutral, 00);
  border-radius: var(--global-radius);
  border: 1px solid clr(neutral, 30);
  @include shadow(1);

  &-title {
    font-size: fs(110);
    font-weight: $fw-500;
    font-family: $ff-heading;
  }
}
