@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.article-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 1rem;
  background-color: $bg-base;
  border-radius: $radius-card;

  &__title {
    font-size: $fs-lg;
    font-weight: $fw-500;
    font-family: $ff-heading;
  }
}