@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.article-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  background-color: $bg-card;
  border-radius: var(--global-radius);
  border: 1px solid $border-card;
  @include shadow(1);

  &__title {
    font-size: $fs-lg;
    font-weight: $fw-500;
    font-family: $ff-heading;
  }
}