@use "../abstracts/" as *;

.top_button {
  display: flex;
  justify-content: center;
  margin-block: $size-3;
  padding: $size-6;

  @include mq(medium) {
    margin-block: $size-4;
  }
}

[data-icon] {
  font-size: $fs-4xl;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  padding: $size-6;
  justify-content: center;
  background-color: $bg-light;
  border-top: 2px solid $border-base;
  gap: $size-4;

  @include mq(large) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer_left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;

  @include mq(large) {
    flex-direction: row;
    text-align: left;
  }
}

.footer_right {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: $size-0;
  padding: $size-0;
  gap: $size-4;
  line-height: 1;

  @include mq(large) {
    justify-content: end;
  }

  & li {
    @include mq(medium) {
      gap: $size-3;
    }
  }

  & a {
    display: inline-block;
    color: $text-footer;

    &:hover {
      color: $text-footer-hover;
    }

    &:focus {
      outline: $focus-style;
      outline-offset: $size-1;
    }
  }
}