@use "../abstracts/" as *;

.hero {
    margin-bottom: 2rem;
    display: grid;
    place-items: center;

    >* {
        grid-row: 1;
        grid-column: 1;
    }
}

.hero__content {
    @extend %container-width;
    display: grid;
    gap: 0.5rem;
    padding-inline: 1rem;

    h1 {
        font-size: $fs-3xl;

        @include mq(medium) {
            font-size: $fs-4xl;
        }
    }

    div {
        font-size: $fs-3xl;
    }

    h1,
    div {
        color: $text-invert-heading;
    }

}