@use "../abstracts/" as *;

.hero {
    margin-bottom: 2rem;
    display: grid;
    place-items: center;

    >* {
        grid-row: 1;
        grid-column: 1;
    }
}

.hero {
    &__content {
        @extend %container-width;
        display: grid;
        gap: $size-4;
        padding-inline: 1rem;
        text-align: left;
        color: $text-invert-heading;

        &--inner {
            gap: $size-2;
        }
    }

    &__title {
        font-size: $fs-6xl;
        color: $text-invert-heading;
        margin-inline: 0;

        @include mq(medium) {
            font-size: $fs-8xl;
        }
    }

    &__summary {
        font-size: $fs-2xl;

        @include mq(medium) {
            font-size: $fs-4xl;
        }
    }

    &__tags {
        font-size: $fs-md;
        font-family: $ff-mono;

        @include mq(medium) {
            font-size: $fs-xl;
        }
    }
}