@use "../abstracts/" as *;

.hero {
    margin-bottom: $size-4;
    display: grid;
    place-items: center;

    >* {
        grid-row: 1;
        grid-column: 1;
    }

    @include mq(xxlarge) {
        &>img {
            border: $border-style;
            box-shadow: 12px 12px 0 $border-base;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }
    }

    &__content {
        display: grid;
        gap: $size-4;
        // max-width: $container-max-width-narrow;
        color: $text-invert-heading;
        padding-inline: $size-4;

        &--inner {
            gap: $size-2;

        }

        @include mq(large) {
            padding-inline: $size-0;
        }
    }

    &__title {
        font-size: $fs-4xl;
        line-height: 1.5;
        color: $text-invert-heading;
        margin-block: $size-2;

        @include mq(medium) {
            font-size: $fs-6xl;
        }

        @include mq(large) {
            font-size: $fs-8xl;
        }
    }

    &__summary {
        font-size: $fs-lg;

        @include mq(medium) {
            font-size: $fs-4xl;
        }
    }

    &__tags {
        font-size: $fs-xs;
        font-family: $ff-mono;
        margin-top: $size-4;

        @include mq(medium) {
            font-size: $fs-sm;
        }

    }
}