@use "../abstracts/" as *;

.hero {
    margin-bottom: 2rem;
    display: grid;
    place-items: center;

    >* {
        grid-row: 1;
        grid-column: 1;
    }
}

.hero {
    &__content {
        //@extend %container-width;
        display: grid;
        gap: $size-4;
        padding-inline: $size-6;
        color: $text-invert-heading;

        &--inner {
            gap: $size-2;
        }

        @include mq(large) {
            padding-inline: $size-0;
        }
    }

    &__title {
        font-size: $fs-4xl;
        color: $text-invert-heading;
        margin-block: $size-2;

        @include mq(medium) {
            font-size: $fs-6xl;
        }

        @include mq(large) {
            font-size: $fs-8xl;
        }
    }

    &__summary {
        font-size: $fs-lg;

        @include mq(medium) {
            font-size: $fs-4xl;
        }
    }

    &__tags {
        font-size: $fs-xs;
        font-family: $ff-mono;
        margin-top: 1rem;

        @include mq(medium) {
            font-size: $fs-sm;
        }

    }
}