@use "../abstracts/" as *;

.hero {
    margin-bottom: 4rem;
    display: grid;
    place-items:center;

    > * {
        grid-row: 1;
        grid-column: 1;
    }
}

.hero__content {
    //max-width: $prose-max-width;
    width: min(100% - 2rem, 60rem);
    display: grid;
    gap: 0.5rem;

    h1 {
        font-size: fs(150);

        @include mq(medium){
            font-size: fs(180);
        }
    }
    
    div {
        font-size: fs(140);
    }

    h1, div {
        color: clr(neutral, 00);

    }

}
