@use "../abstracts/" as *;

.home-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(4fr);
    grid-column-gap: $size-0;
    grid-row-gap: $size-0;

    @include mq(medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: $size-6;
        grid-row-gap: $size-6;

    }

    @include mq(large) {
        grid-column-gap: $size-8;
        grid-row-gap: $size-8;
    }
}

.home-grid__tl,
.home-grid__tr,
.home-grid__bl,
.home-grid__br {
    padding: $size-10 $size-4;

    @include mq(medium) {
        padding: $size-6 0;
    }

}


.home-grid__tl {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 4px solid $border-bold;


    @include mq(medium) {
        grid-area: 1 / 1 / 2 / 2;
        border-bottom: 4px solid $border-bold;

    }
}

.home-grid__tr {
    grid-area: 2 / 1 / 3 / 2;
    border-bottom: 4px solid $border-bold;


    @include mq(medium) {
        grid-area: 1 / 2 / 2 / 3;
        border-bottom: 4px solid $border-bold;
    }
}

.home-grid__bl {
    grid-area: 3 / 1 / 4 / 2;
    border-bottom: 4px solid $border-bold;


    @include mq(medium) {
        grid-area: 2 / 1 / 3 / 2;
        border-bottom: none;
    }
}

.home-grid__br {
    grid-area: 4 / 1 / 5 / 2;

    @include mq(medium) {
        grid-area: 2 / 2 / 3 / 3;
    }
}