@use "../abstracts" as *;

.image-text {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include mq(large) {
            flex-direction: row;
        }
    }

    &__image {
        object-fit: contain;
        border-radius: $radius;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    &--reverse {
        @include mq(large) {
            flex-direction: row-reverse;
        }
    }
}