@use "../abstracts" as *;

.image-text {

    background-color: $bg-light;

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        @include mq(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-items: center;
        object-fit: contain;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-items: center;
    }
}