@use "../abstracts" as *;

.image-text {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: $size-8;

        @include mq(large) {
            flex-direction: row;
        }
    }

    &__image {
        flex: 1;
        object-fit: contain;
        border-radius: $radius;
    }

    &__content {
        flex: 1;

        &>h2,
        h3,
        h4 {
            margin-top: 0;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    &--reverse {
        @include mq(large) {
            flex-direction: row-reverse;
        }
    }
}