@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.project-card {
  border-radius: $radius-card;
  overflow: hidden;
  background-color: $bg-base;
  position: relative;

  &:focus-within {
    outline: 0.25rem solid $border-focus;
    outline-offset: 0.125rem;
    box-shadow: 0 0 0 0.25rem $border-focus;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-decoration: none;
    color: inherit;
    height: 100%;

    &:hover {
      box-shadow: 0 0 0 0.25rem $border-focus;

      h2 {
        color: $text-link-hover;
      }

      p {
        color: $text-base;
      }
    }

    &:focus {
      outline: 0.25rem dashed $border-focus;
      outline-offset: 0.125rem;
      box-shadow: 0 0 0 0.25rem #fff,
        0 0 0 0.5rem $border-focus;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: $radius-card;
  }

  &__title {
    font-size: $fs-4xl;
  }

  &__summary {
    padding: $padding-card-body;
    flex-grow: 1;
    line-height: 1.25em;

    @include mq(large) {
      padding-top: 0;
    }

    &>*+* {
      margin-top: 0.75rem;
    }


    &:nth-last-child(2) {
      margin-bottom: 0.75rem;
    }

    &:last-child {
      margin-top: auto;
    }

    small {
      font-size: $fs-sm;
    }

  }
}