@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.project-card {
  display: grid;
  grid-row: auto;
  gap: $gap-card;
  border-radius: $radius-card;
  overflow: hidden;
  background-color: $bg-base;

  &__image {
    border-radius: $radius-card;
  }

  &__title {
    font-size: $fs-4xl;
  }

  &__summary {
    padding: $padding-card-body;
    display: grid;
    grid-row: auto;
    line-height: 1.25em;
    gap: 1rem;

    @include mq(large) {
      padding: 0 1rem 1rem 1rem;
    }
  }
}