@use "../abstracts/" as *;
@use "../utilities/shadows" as *;

.project-card {
  border-radius: $radius-card;
  overflow: hidden;
  background-color: $bg-card;
  position: relative;
  border: $border-card;
  box-shadow: 0 0 0 0.25rem $bg-base, 0 0 0 0.75rem $border-base;
  transition: $transitions;

  &:focus-within,
  &:focus,
  &:hover {
    //border-color: $border-card;
    //background-color: $bg-card-hover;
    //box-shadow: 0 0 0 0.25rem $bg-base, 0 0 0 0.75rem $border-focus;
    box-shadow: 0 0 0 0.25rem $bg-base, 0 0 0 0.75rem $border-base, 0 0 0 1rem $bg-base, 0 0 0 1.5rem $border-focus;
  }

  &:focus {
    border: $border-focus;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: $gap-card;
    text-decoration: none;
    color: inherit;
    height: 100%;

    &:hover {

      h2 {
        color: $text-link-hover;
      }

      p {
        color: $text-base;
      }
    }
  }

  &__image {
    border-radius: 0 0;
  }

  &__title {
    font-size: $fs-4xl;
    margin-top: $size-0;
  }

  &__summary {
    padding: $padding-card-body;
    flex-grow: 1;
    line-height: 1.25em;

    @include mq(large) {
      padding-top: 0;
    }

    &>*+* {
      margin-top: 0.75rem;
    }


    &:nth-last-child(2) {
      margin-bottom: 0.75rem;
    }

    &:last-child {
      margin-top: auto;
    }

    small {
      font-size: $fs-sm;
    }

  }
}