@use "../abstracts" as *;

.section {
    margin-block: $size-4;
    padding-block: $size-6;
    font-size: $fs-lg;
    width: 100%;

    &--light {
        color: $text-section-light;
        background-color: $bg-section-light;
        border-top: $border-section-light;
    }

    &--invert {
        color: $text-section-invert;
        background-color: $bg-section-invert;
        border-top: $border-section-invert;
    }
}

.section-spacer {
    margin-block: $padding-section;
}