@use "../abstracts" as *;

.section {
    padding-block: $size-6;
    width: 100%;

    &--light {
        background-color: $bg-light;
        border-top: $border-style;
        border-bottom: $border-style;
    }

    &--invert {
        background-color: $bg-invert;
    }
}

.section-spacer {
    margin-block: $padding-section;
}