@use "../abstracts/" as *;

.tags {
    background-color: $neutral-100;
    counter-reset: $neutral-500;
    font-size: $fs-sm;
    padding: 0.25rem;
    border-radius: $radius;
    display: inline-block;
}