@use "../abstracts/" as *;

.navbar {
  color: $bg-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  padding: $size-8 $size-6;
  gap: $size-5;
  width: 100%;

  @include mq(large) {
    display: flex;
    flex-direction: row;
    padding-bottom: $size-10;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(medium) {
    justify-content: end;
  }

  @include mq(large) {
    display: flex;
  }
}

// Logo
.logo__wrapper {
  height: 6rem;
  color: $theme-text-logo;

  @include mq(large) {
    height: 3rem;
  }
}

.logo__wrapper svg {
  height: 100%;
  width: auto;
  fill: currentColor;
  transition: fill .2s;
}

.logo__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $size-1;
  text-decoration: none;
  color: $theme-text-logo;
  transition: color .2s;

  &:hover {
    color: $text-link-hover;
  }

  &:focus-visible {
    outline: $focus-style;
    outline-offset: 0.25rem;
    border-radius: $radius-focus;
  }
}

.logo__text {
  display: none;
  justify-content: center;
  color: $theme-text-logo;
  font-size: $fs-xl;
  font-family: $ff-heading;

  @include mq(large) {
    display: inline-block;
    font-size: $fs-4xl;
    line-height: 3rem;
  }
}

.svg__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  gap: $size-1;
  height: 100%;

  h1 {
    color: $theme-logo;
    line-height: 1rem;
  }
}

.logo__icon {
  display: block;
  width: $size-12;
  height: $size-12;


  @include mq(large) {
    display: inline-block;
    width: $size-9;
    height: $size-9;
  }
}

.menu {
  list-style: none;
  font-size: $fs-xl;
  font-family: $ff-heading;
  justify-content: center;
  margin: $size-1 $size-0;

  @include mq(medium) {
    font-size: $fs-xl;
  }


  & ul {
    list-style: none;
    grid-area: nav;
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: $size-1;

    @include mq(medium) {
      gap: $size-6;
    }

    @include mq(large) {
      gap: 1rem;
    }

    & li a {
      padding: 0.5rem 0.25rem 1rem 0.25rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: $transitions;
      color: $text-menu__narrow;


      @include mq(medium) {
        padding: 0.5rem 1rem;
        border-radius: $radius-button;

      }


      &:hover {
        padding: 0.5rem 0.25rem 0.75rem 0.25rem;
        color: $text-menu__narrow-hover;
        background-color: $bg-menu__narrow-hover;
        border-bottom: 0.25rem solid $border-menu__narrow-hover;
        border-radius: none;

        @include mq(medium) {
          padding: 0.5rem 1rem;
          background-color: $bg-menu__wide-hover;
          color: $text-menu__wide-hover;
          border: none;
          box-shadow:
            0 0 0 0.25rem $bg-menu,
            0 0 0 0.5rem $border-menu__wide-hover;
        }

        &:focus {
          outline-offset: 0.675rem;
        }

      }

      &:focus {
        outline-offset: 0.125rem;
      }

      &.selected {
        padding: 0.5rem 0.25rem 0.75rem 0.25rem;
        border-bottom: 0.25rem solid $border-menu__narrow-selected;
        color: $text-menu__narrow-selected;

        @include mq(medium) {
          padding: 0.5rem 1rem;
          background-color: $bg-menu__wide-selected;
          color: $text-menu__wide-selected;
          ;
          border-bottom: none;
        }

        &:hover {
          background-color: $bg-menu__narrow-selected-hover;

          @include mq(medium) {
            background-color: $bg-menu__wide-selected-hover;
            color: $text-menu__wide-selected-hover;
            box-shadow:
              0 0 0 0.25rem $bg-menu,
              0 0 0 0.5rem $border-menu__wide-selected-hover;
          }

          &:focus {
            @include mq(medium) {
              outline-offset: 0.75rem;
            }
          }
        }
      }
    }
  }
}