@use "../abstracts/" as *;

.navbar {
  color: $bg-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  padding: size(3);
  gap: size(5);
  width: 100%;
  padding: 2rem;

  @include mq(large) {
    display: flex;
    flex-direction: row;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(medium) {
    justify-content: end;
  }

  @include mq(large) {
    display: flex;
  }
}

// Logo
.logo__wrapper {
  height: 6rem;
  color: $text-heading;

  @include mq(large) {
    height: 3rem;
  }
}

.logo__wrapper svg {
  height: 100%;
  width: auto;
}

.logo__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: size(1);
  text-decoration: none;
  color: $text-base;

  &:focus,
  &:focus-visible {
    outline: $focus-style;
    outline-offset: 0.25rem;
    border-radius: $radius;
  }
}

h1 .logo__link {

  &:focus,
  &:focus-visible {
    outline: $focus-style;
    outline-offset: 0.25rem;
    border-radius: $radius;
  }
}

.logo__text {
  display: none;
  justify-content: center;
  color: $text-base;
  font-size: $fs-xl;
  font-family: $ff-heading;

  @include mq(large) {
    display: inline-block;
    font-size: $fs-4xl;
    line-height: 3rem;
  }
}

.svg__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  gap: size(1);
  height: 100%;

  &:focus-within {
    outline: $focus-style;
    outline-offset: 0.25rem;
    border-radius: $radius;
  }

  h1 {
    color: $primary-500;
    line-height: 1rem;
  }
}

.logo__icon {
  display: block;
  width: size(12);
  height: size(12);


  @include mq(large) {
    display: inline-block;
    width: size(9);
    height: size(9);
  }
}

.menu {
  list-style: none;
  font-size: $fs-xl;
  font-family: $ff-heading;
  justify-content: center;
  margin: 0.5rem 0;

  @include mq(medium) {
    font-size: $fs-xl;
  }


  & ul {
    list-style: none;
    grid-area: nav;
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.25rem;

    @include mq(medium) {
      gap: 2rem;
    }

    @include mq(large) {
      gap: 1rem;
    }

    & li a {
      padding: 0.5rem 0.25rem 1rem 0.25rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: $transitions;
      color: $text-tertiary;


      @include mq(medium) {
        padding: 0.5rem 1rem;
        border-radius: $radius;
      }


      &:hover {
        padding: 0.5rem 0.25rem 0.75rem 0.25rem;
        color: $neutral-900;
        border-bottom: 0.25rem solid $border-tertiary-hover;
        border-radius: none;

        @include mq(medium) {
          padding: 0.5rem 1rem;
          background-color: $bg-tertiary-hover;
          color: $text-tertiary-hover;
          box-shadow:
            0 0 0 0.25rem $bg-base,
            0 0 0 0.5rem $border-tertiary-hover;
        }
      }

      &.selected {
        padding: 0.5rem 0.25rem 0.75rem 0.25rem;
        border-bottom: 0.25rem solid $border-selected;
        color: $neutral-900;

        @include mq(medium) {
          padding: 0.5rem 1rem;
          background-color: $bg-selected;
          color: $text-selected;
          border-bottom: none;
        }

        &:hover {
          background-color: $bg-selected-hover;

          @include mq(medium) {
            background-color: $neutral-900;
            color: $neutral-000;
            border-bottom: none;
            box-shadow:
              0 0 0 5px $bg-base,
              0 0 0 10px $border-selected-hover;
          }

          &:focus {
            @include mq(medium) {
              outline-offset: 0.75rem;
            }
          }
        }
      }
    }
  }
}