@use "../abstracts/" as *;

.navbar {
  color: $bg-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  padding: size(3);
  gap: size(5);
  width: 100%;
  padding: 2rem;

  @include mq(large) {
    display: flex;
    flex-direction: row;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(medium) {
    justify-content: end;
  }

  @include mq(large) {
    display: flex;
  }
}

// Logo
.logo__wrapper {
  height: 6rem;
  color: $text-heading;

  @include mq(large) {
    height: 3rem;
  }
}

.logo__wrapper svg {
  height: 100%;
  width: auto;
}

a.logo__text {
  display: none;
  justify-content: center;
  color: $text-base;
  font-size: $fs-xl;
  font-family: $ff-heading;
  text-decoration: none;

  @include mq(large) {
    display: inline-block;
    font-size: $fs-2xl;
    line-height: 3rem;
  }

  &:hover {
    color: $text-link-hover;
  }
}

.svg__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  gap: size(1);
  height: 100%;

  h1 {
    color: $primary-500;
    line-height: 1rem;
  }
}

.logo__icon {
  display: block;
  width: size(10);
  height: size(10);


  @include mq(large) {
    display: inline-block;
    width: size(9);
    height: size(9);
  }

  &:hover {
    fill: $text-link-hover;
  }
}

.menu {
  list-style: none;
  font-size: $fs-xl;
  font-family: $ff-heading;
  justify-content: center;
  margin: 0.25rem 0 0.5rem 0;



  @include mq(medium) {
    font-size: $fs-2xl;
  }


  & ul {
    list-style: none;
    grid-area: nav;
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.25rem;

    @include mq(medium) {
      gap: 2rem;
    }

    @include mq(large) {
      gap: 1rem;
    }

    & li a {
      padding: 0.5rem 0.75rem 1rem 0.75rem;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: $radius;

      &:hover {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        color: $text-link-hover;
        border: 0.25rem solid $text-link-hover;
      }

      &.selected {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: 0.25rem solid $border-selected;
        color: $text-selected;

        &:hover {
          background-color: $bg-selected-hover;
        }
      }
    }
  }
}