@use "../abstracts/" as *;

.grid__one-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap, $gap-grid);
}

.grid__two-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap, $gap-grid-two-column);

    @include mq (medium) {
        grid-template-columns: 1fr 1fr;
    }
}